* { padding: 0; margin: 0; overflow: hidden; font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif; }

body{
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(41,41,41,1) 100%);
}

#global-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    border: 4px solid #0e0e0e8f
}